{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% load agendamento %}

{% block field_sets %}
{% if add %}
  {% for fieldset in adminform %}
    {% include "admin/includes/fieldset.html" %}
  {% endfor %}
{% else %}
  <fieldset class="module aligned {{ fieldset.classes }}">
    <div style="background-color: #ddffff; padding: 10px;">
      <div><b>{{original.solicitante}}</b></div>
      {% if is_student %}
        <div>{% if student.curso %}{{student.curso}}{% else %}{{student.codigo_curso}}{% endif %}</div>
        {% if student.curso.diretoria %}
          <div>{{student.curso.diretoria}}</div>
        {% else %}
          <div>{{original.solicitante.campus}}</div>
        {% endif %}
      {% endif %}
      
      {% if original.avaliado_em %}
        <div><b>{{original.status}}</b> por {{original.avaliador}} em {{original.avaliado_em}} </div>
      {% else %}
        <div>Atualmente: <b>{{original.status}}</b></div>
      {% endif %}
    </div>
    <div class="form-row field-status">
      <div>
        <label class="required" for="id_status">Status:</label>
        <select name="status" id="id_status">
          <option value="Deferido" {% if original.status == 'Deferido' %}selected{% endif %}>Deferido</option>
          <option value="Indeferido" {% if original.status == 'Indeferido' %}selected{% endif %}>Indeferido</option>
        </select>
      </div>
    </div>
    <div class="form-row field-criterios">
      <div>
        <label class="required" for="id_criterios">Critérios:</label>
        <ul>
          {% for criterio in criterios %}
            <li> {% criterio_avaliado original criterio %}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="form-row field-justificativa">
      <div>
        <label class="required" for="id_justificativa">Justificativa:</label>
        <textarea name="justificativa" cols="40" rows="10" class="vLargeTextField" id="id_justificativa" required>{{original.justificativa}}</textarea>
        {{ form.justificativa.errors }}
        <div class="help">Sempre preencha este campo.</div>
      </div>
    </div>
  </fieldset>
{% endif %}
{% endblock %}