{% extends "agendamento/base.html" %}
{% load i18n %}

{% block content %}
    <p>Olá, você acessou como <b>{{user.name}} ({{user.username}})</b>, cujo email é o <b>{{user.email}}</b>.</p>

    <h2>Suas solicitações de agendamento</h2>
    {% if solicitacoes.exists %}
        <ol style="list-style: none; padding: 0;">
        {% for solicitacao in solicitacoes %}
            <li class="status {{solicitacao.status}}" style="padding: 10px;">
                <div><b>Agenda: {{ solicitacao.agenda }}</b></div>
                <div>Data: <b>{{solicitacao.inicio}}</b></div>
                <div>Situação: <b>{{solicitacao.status}}</b></div>
                <div><br><a class="btn" href="{%url 'agendamento:solicitacao_visualizar' solicitacao.id%}">Ver detalhes</a></div>
            </li>
        {% endfor %}
        </ol>
    {% else %}
        <ul>
            <li>Você não tem solicitações de agendamento.</li>            
        </ul>
    {% endif %}
    <br>
    <p><a class="btn" href="{% url 'agendamento:agenda_selecionar' %}">Nova solicitação de agendamento</a></p>
    <p class="infor">Você deve voltar a esta página sempre que você quiser verificar o andamento da solicitação ou fazer novas solicitações.</p>
{% endblock content %} 